In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
import seaborn as sns
from sklearn import tree
from IPython.display import Image
import pydotplus
import graphviz
import time

In [2]:
y2015 = pd.read_csv(
    'LoanStats3d.csv',
    skipinitialspace=True,
    header=1
)

# Note the warning about dtypes.

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc','verification_status',
       'pymnt_plan', 'title', 'dti', 'delinq_2yrs', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'total_acc', 'initial_list_status', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'avg_cur_bal', 'chargeoff_within_12_mths', 'delinq_amnt',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit','id','member_id','funded_amnt','funded_amnt_inv','installment','issue_d',
        'purpose','next_pymnt_d','application_type','inq_last_6mths','acc_open_past_24mths',
        'bc_open_to_buy','bc_util','mo_sin_old_il_acct'], 1, inplace=True)

# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

In [4]:
pd.get_dummies(y2015)

,loan_amnt,int_rate,annual_inc,out_prncp,last_pymnt_amnt,total_rev_hi_lim,pub_rec_bankruptcies,tax_liens,term_ 36 months,term_ 60 months,...,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,loan_status_Charged Off,loan_status_Current,loan_status_Default,loan_status_Fully Paid,loan_status_In Grace Period,loan_status_Late (16-30 days),loan_status_Late (31-120 days)
0,16000.0,14.85,48000.0,13668.88,379.39,284700.0,0.0,2.0,0,1,...,1,0,0,0,1,0,0,0,0,0
1,9600.0,7.49,60000.0,6635.69,298.58,13000.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
2,25000.0,7.49,109000.0,0.00,20807.39,38400.0,0.0,0.0,1,0,...,1,0,0,0,0,0,1,0,0,0
3,28000.0,6.49,92000.0,19263.77,858.05,79900.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
4,8650.0,19.89,55000.0,0.00,8251.42,20750.0,1.0,0.0,1,0,...,0,0,1,0,0,0,1,0,0,0
5,23000.0,8.49,64000.0,19143.69,471.77,47300.0,0.0,0.0,0,1,...,0,0,1,0,1,0,0,0,0,0
6,29900.0,12.88,65000.0,25346.66,678.49,67800.0,0.0,0.0,0,1,...,1,0,0,0,1,0,0,0,0,0
7,18000.0,11.99,112000.0,0.00,18004.90,82400.0,0.0,0.0,0,1,...,1,0,0,0,0,0,1,0,0,0
8,35000.0,14.85,110000.0,29900.89,829.90,67300.0,0.0,0.0,0,1,...,1,0,0,0,1,0,0,0,0,0
9,10400.0,22.45,104433.0,0.00,10128.96,34000.0,0.0,0.0,0,1,...,1,0,0,0,0,0,1,0,0,0
10,20000.0,10.78,63000.0,16809.50,432.66,14000.0,0.0,0.0,0,1,...,1,0,0,0,1,0,0,0,0,0
11,22400.0,12.88,95000.0,18988.80,508.30,39800.0,0.0,0.0,0,1,...,1,0,0,0,1,0,0,0,0,0
12,16000.0,12.88,70000.0,13563.45,363.07,51000.0,0.0,0.0,0,1,...,1,0,0,0,1,0,0,0,0,0
13,3600.0,13.99,55000.0,2562.42,123.03,9300.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
14,24700.0,11.99,65000.0,0.00,926.35,111800.0,0.0,0.0,1,0,...,1,0,0,0,0,0,1,0,0,0
15,10000.0,6.49,85000.0,6879.87,306.45,30300.0,1.0,0.0,1,0,...,0,0,1,0,1,0,0,0,0,0
16,1400.0,12.88,64000.0,991.57,47.10,56300.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
17,11950.0,13.44,34000.0,8485.67,405.18,12900.0,0.0,0.0,1,0,...,0,0,1,0,1,0,0,0,0,0
18,18000.0,19.48,150000.0,15425.12,471.70,34500.0,1.0,0.0,0,1,...,0,0,1,0,1,0,0,0,0,0
19,8000.0,11.48,42000.0,5359.48,263.74,18000.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
20,20000.0,8.49,85000.0,13888.71,631.26,14500.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
21,20000.0,9.17,180000.0,0.00,15681.05,94200.0,0.0,0.0,1,0,...,1,0,0,0,0,0,1,0,0,0
22,28000.0,13.44,125000.0,19882.68,949.38,36100.0,0.0,0.0,1,0,...,0,1,0,0,1,0,0,0,0,0
23,5000.0,13.44,79000.0,3550.39,169.54,9300.0,0.0,0.0,1,0,...,0,0,1,0,1,0,0,0,0,0
24,20000.0,5.32,65000.0,13683.87,602.30,76200.0,0.0,0.0,1,0,...,0,1,0,0,1,0,0,0,0,0
25,4225.0,14.85,35000.0,3018.57,146.16,4300.0,0.0,0.0,1,0,...,0,0,1,0,1,0,0,0,0,0
26,15000.0,5.32,44000.0,10262.84,451.73,33800.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
27,17600.0,5.32,88000.0,0.00,17.88,35500.0,0.0,0.0,1,0,...,1,0,0,0,0,0,1,0,0,0
28,6000.0,7.49,100000.0,4147.34,186.61,11900.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
29,16000.0,12.88,65000.0,11333.53,580.21,9500.0,0.0,1.0,1,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421065,13000.0,8.19,85000.0,4691.26,408.52,7200.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
421066,15000.0,11.99,70000.0,5606.74,498.15,9700.0,0.0,0.0,1,0,...,0,0,1,0,1,0,0,0,0,0
421067,20000.0,6.99,72000.0,7136.09,617.46,39700.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
421068,4200.0,15.99,48000.0,0.00,147.64,20400.0,0.0,0.0,1,0,...,1,0,0,1,0,0,0,0,0,0
421069,26950.0,8.19,54000.0,0.00,11390.79,129100.0,0.0,0.0,1,0,...,0,0,1,0,0,0,1,0,0,0
421070,23000.0,15.59,50000.0,15857.97,554.32,65600.0,0.0,0.0,0,1,...,1,0,0,0,1,0,0,0,0,0
421071,18700.0,17.86,52000.0,0.00,16043.74,10200.0,0.0,0.0,0,1,...,0,0,1,0,0,0,1,0,0,0
421072,6000.0,17.86,90000.0,2362.92,216.50,8500.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
421073,15000.0,11.44,57000.0,9998.80,329.44,26100.0,0.0,0.0,0,1,...,0,0,1,0,1,0,0,0,0,0
421074,25000.0,15.99,103000.0,18393.80,607.82,18700.0,0.0,0.0,0,1,...,0,0,1,0,0,0,0,0,0,1
421075,26500.0,8.67,92000.0,17248.60,545.87,118600.0,0.0,0.0,0,1,...,1,0,0,0,1,0,0,0,0,0
421076,25000.0,15.59,55000.0,0.00,21115.20,24400.0,0.0,0.0,0,1,...,0,1,0,0,0,0,1,0,0,0
421077,21000.0,6.03,65000.0,7424.91,639.15,76300.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
421078,8000.0,8.19,50000.0,2886.85,251.40,7300.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
421079,12000.0,9.49,40000.0,0.00,7501.84,11900.0,0.0,0.0,1,0,...,0,0,1,0,0,0,1,0,0,0
421080,10000.0,6.49,75000.0,3551.12,306.45,30300.0,0.0,0.0,1,0,...,0,0,1,0,1,0,0,0,0,0
421081,13150.0,14.99,30000.0,0.00,10686.69,20700.0,0.0,0.0,0,1,...,1,0,0,0,0,0,1,0,0,0
421082,6225.0,16.49,27000.0,0.00,4858.17,1800.0,0.0,0.0,1,0,...,0,0,1,0,0,0,1,0,0,0
421083,10775.0,6.03,54000.0,0.00,9439.34,41700.0,0.0,0.0,1,0,...,0,0,1,0,0,0,1,0,0,0
421084,7000.0,14.31,57000.0,2671.94,240.30,9900.0,0.0,2.0,1,0,...,0,0,1,0,1,0,0,0,0,0
421085,4000.0,8.67,50000.0,0.00,3655.51,30100.0,1.0,0.0,1,0,...,1,0,0,0,0,0,1,0,0,0
421086,7500.0,9.49,40000.0,2739.47,240.22,14500.0,1.0,0.0,1,0,...,0,0,1,0,1,0,0,0,0,0
421087,10850.0,19.24,32000.0,0.00,25.00,16800.0,0.0,0.0,1,0,...,0,1,0,1,0,0,0,0,0,0
421088,11575.0,15.59,25400.0,0.00,6281.14,28100.0,0.0,0.0,1,0,...,0,0,1,0,0,0,1,0,0,0
421089,12000.0,11.99,63000.0,0.00,398.52,30300.0,0.0,0.0,1,0,...,1,0,0,1,0,0,0,0,0,0
421090,10000.0,11.99,31000.0,3737.83,332.10,17100.0,0.0,0.0,1,0,...,0,0,1,0,1,0,0,0,0,0
421091,24000.0,11.99,79000.0,8971.06,797.03,10200.0,0.0,0.0,1,0,...,1,0,0,0,1,0,0,0,0,0
421092,13000.0,15.99,35000.0,0.00,316.07,18000.0,1.0,0.0,0,1,...,0,0,1,1,0,0,0,0,0,0
421093,12000.0,19.99,64400.0,0.00,317.86,27000.0,0.0,0.0,0,1,...,0,0,1,1,0,0,0,0,0,0
421094,20000.0,11.99,100000.0,7475.67,664.20,41700.0,0.0,1.0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [12]:
# Model with RandomForestClassifier and measure Runtime
start_time = time.time()
rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)
print(cross_val_score(rfc, X, Y, cv=10))

print("--- %s seconds ---" % (time.time() - start_time))

[ 0.94476503  0.9519128   0.94982309  0.95065422  0.95131798  0.94986939
  0.95055689  0.95022442  0.94993707  0.9487484 ]
--- 155.35951805114746 seconds ---

In [13]:
# Model with DecisionTreeClassifier and measure Runtime
start_time = time.time()
decision_tree = tree.DecisionTreeClassifier(
    criterion='entropy',
    max_features=1,
    max_depth=5
)

X = y2015.drop('loan_status', 1)
X = pd.get_dummies(X)
X = X.dropna(axis=1)

Z = pd.DataFrame()
Z['loan_status'] = y2015['loan_status']

print(cross_val_score(decision_tree, X, Z, cv=10))

print("--- %s seconds ---" % (time.time() - start_time))

[ 0.69316806  0.83541118  0.69000974  0.76324476  0.68252197  0.69886013
  0.68341685  0.73960436  0.68570546  0.71369876]
--- 18.715515851974487 seconds ---